{{"project_key"  | keyPair(config)}}
{{"api_url"  | keyPair(config)}}
{{"auth_url"  | keyPair(config)}}
{{"import_url"  | keyPair(config)}}
{{"client_secret"  | keyPair(config)}}
{{"client_id"  | keyPair(config)}}